.card-home {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    opacity: 0;
    animation: spawnAnimation 0.5s ease forwards;
}

@keyframes spawnAnimation {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.card-home img {
    max-width: 100%;
    
}

.card-home h6 {
    font-size: 14px;
}